HUBSPOT_TOKEN=your_hubspot_private_app_token

AZURE_STORAGE_CONNECTION_STRING=your_azure_storage_connection_string
AZURE_RAW_CONTAINER=raw
AZURE_PROCESSED_CONTAINER=processed
AZURE_INVALID_CONTAINER=invalid

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GOOGLE_APPLICATION_CREDENTIALS=path/to/your/gcp_credentials.json
BIGQUERY_PROJECT_ID=your_gcp_project_id

INIT_WAREHOUSE=true

USE_DBT=false
DBT_PROJECT_DIR=transform
