pydantic>=2.0
pydantic-settings>=2.0
email-validator>=2.0
azure-storage-blob>=12.0
psycopg2-binary>=2.9
python-dotenv>=1.0
requests>=2.28
faker>=20.0
duckdb>=1.0
pyarrow>=15.0
pandas>=2.0
google-cloud-bigquery>=3.0

apache-airflow-providers-google
apache-airflow-providers-microsoft-azure
hubspot-api-client
pandas
faker